<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar-stable">
            <h1 class="title">Plugins</h1>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item nav-clear menu-close href="#/app/device">
                    Device
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/battery">
                    Battery
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/camera">
                    Camera
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/motion">
                    Device Motion
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/notifications">
                    Notifications
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/network">
                    Network
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/pin">
                    Pin Dialog
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/share">
                    Social Sharing
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/sqlite">
                    SQLite
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/toast">
                    Toast
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/vibrate">
                    Vibrate
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
