<ion-view view-title="Device Motion">
    <ion-content>
        <div class="card">
            <div class="item item-divider">
                Device Motion information!
            </div>
            <div class="item item-text-wrap">
                <ul class="list">
                    <li class="item">
                        X : {{X}}
                    </li>
                    <li class="item">
                        Y : {{Y}}
                    </li>
                    <li class="item">
                        Z : {{Z}}
                    </li>
                    <li class="item">
                        timeStamp : {{timeStamp}}
                    </li>
                </ul>
            </div>
            <div class="item item-divider text-right">
                from <code>ngCordova</code>
            </div>
        </div>
    </ion-content>
</ion-view>
