<ion-view view-title="Network Status">
    <ion-content>
        <div class="card">
            <div class="item item-divider">
               Your Network Status!
            </div>
            <div class="item item-text-wrap">
                <ul class="list">
                    <li class="item">
                        Type : {{type}}
                    </li>
                    <li class="item">
                        isOnline : {{isOnline}}
                    </li>
                    <li class="item">
                        isOffline : {{isOffline}}
                    </li>
                </ul>
            </div>
            <div class="item item-divider text-right">
                from <code>ngCordova</code>
            </div>
        </div>
    </ion-content>
</ion-view>
